.menu-builder-edit__container {
  display: flex;
  justify-content: space-between;
}

.menu-builder {

  &__toolbar {
    width: 360px;
  }

  &__editor {
    width: calc(100% - (360px + 30px));
  }
}

.fieldset-ui {
  border-radius: $border-radius;
  border: solid 1px $border-color;

  legend {
    padding: 0 1em;
    font-weight: bold;
  }

  input[type=text] {
    padding: .5em;
    border-radius: $border-radius;
    border: solid 1px $border-color;
    width: 100%;
  }
}