.box-config {
  margin-bottom: 2em;

  fieldset {
    padding: 2em;
    background: white;
    border-radius: $border-radius;
    border-color: black;

    legend {
      padding: 0 1em;
      font-weight: bold;
    }
  }

  &__field {
    display: block;
    width: 100%;
  }

  &__title {
    display: block;
    font-weight: bold;
  }

  input[type=text],
  input[type=number],
  input[type=tel],
  input[type=password],
  textarea,
  select {
    width: 100%;
    padding: .5em .8em;
    border-radius: 1px;
    background: white;
    color: black;
    border: solid 1px #ddd;
    margin: 4px 0 1em;
    border-radius: $border-radius;

    &:focus {
      border-color: black;
      outline: none !important;
    }
  }

  .Polaris-Select {
    margin: 4px 0 1em;
    outline: none;
  }

  &__repeater {

    
  }
}

.group-option {

  &__item {
    background: black;
    border-radius: $border-radius;
    border-width: 1px;
    margin-bottom: 1em;
    position: relative;

    .__close {
      position: absolute;
      right: -10px;
      top: -10px;
      background: white;
      color: black;
      border-radius: 6px;
      line-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 20px;
      height: 20px;
      font-weight: bold;
      opacity: 0;
    }

    &:hover {

      .__close {
        opacity: 1;
      }
    }

    label,
    .asLabel {
      display: flex;
      align-items: center;
      border-bottom: solid 1px #4a4a4a;
      padding: .5em;
      position: relative;

      .pb-select-image-container {
        opacity: 0;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease;
        -webkit-transition: .3s ease;
      }

      &:hover {

        .pb-select-image-container {
          opacity: 1;
        }
      }

      > span {
        width: 120px;
        min-width: 120px;
        color: white;
        padding: 0 10px;
      }

      input {
        margin: 0 !important;
        border: none !important;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.pb-select-image-container {

  .__target {
    border: solid 1px black;
    border-radius: 4px;
    background: black;
    cursor: pointer;
  }
}